@import "variables.css";

body {
  padding: 0px;
  margin: 0px;
  background-color: white;
  font-family: var(--font__family--avenir);
}

/* IFrame to display Bitmark Node */
.frame {
  display: block;
  width: calc(100% - var(--side__nav--width));
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
  overflow:hidden;
  left: var(--side__nav--width);
  position:fixed;
  top: 25px;
  user-select: none;
}

.main-text {
  display: none;
  font-style: normal;
  font-size: 16px;
  color: black;
  width: calc(100% - var(--side__nav--width));
  height: 100vh;
  top: 50vh;
  position:fixed;
  left: var(--side__nav--width);
  user-select: none;
  text-align: center;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: var(--side__nav--width); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  background-color: white;
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  text-align: center;
  user-select: none;
  z-index: -1;                  /* let tool-bar on top */
}

.sidenav .title-area {
    margin-top: 146px;
}

.sidenav .groups {
    margin-bottom: 26px;
    width: 100%;
}


/* The navigation menu links */
.sidenav .title {
    padding: 5.5px 0px 5.5px 0px;
    margin-left: 8px;
    font-family: var(--font__family--avenir);
    font-weight: var(--font__style--heavy);
    font-size: 18px;
    display: block;
}


.image-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-bottom: 12px;
}


/* Hover Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #000000;
    color: #fff;
    text-align: left;
    padding: 14.22px 16px 15px 14px;
    margin-right: 17px;
    margin-left: 25px;
    position: absolute;
    left: calc(-1 * ((var(--side__nav--width) / 2) - (var(--side__tooltip--width) / 4)));
    width: var(--side__tooltip--width);
    z-index: 1;
    font-family: var(--font__family--avenir);
    font-weight: var(--font__style--medium);
    font-size: 16px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -14px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #293238 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* Title Bar */
.title-bar {
  height: 25px;
  background-color: #293238;
  margin: 0;
  padding: 0;
  -webkit-app-region: drag;
}

/* Hamburger Menu */
.wc-box-menu {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #293238;
  cursor: pointer;
}

.wc-box-menu div {
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
}

.wc-box-menu div:before,
.wc-box-menu div:after {
  top: 30%;
  right: 30%;
  bottom: 30%;
  left: 30%;
  content: " ";
  position: absolute;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 0 0 2px 0;
}

.wc-box-menu .menu:before {
  border-top-width: 2px;
  border-bottom-width: 2px;
}

/* Middle bar in hamburger menu */
.bar{
  top: -15%;
  border-top-width: 2px;
}

/* Minimize, maximize, close */
.wc-box {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #293238;
  cursor: pointer;
}

.wc-box div {
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
}

.wc-box div:before,
.wc-box div:after {
  top: 30%;
  right: 30%;
  bottom: 30%;
  left: 30%;
  content: " ";
  position: absolute;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 0 0 2px 0;
}

.wc-box .minimize:before {
  border-bottom-width: 2px;
}

.wc-box .maximize:before {
  border-width: 1px 1px 2px 1px;
}

.wc-box .close:before,
.wc-box .close:after {
  bottom: 50%;
  top: 50%;
}

.wc-box .close:before {
  transform: rotate(45deg);
}

.wc-box .close:after {
  transform: rotate(-45deg);
}

.wc-box div:hover {
  background-color: #CCCCCC;
}

.wc-box .close:hover {
  background-color: #E04343;
}

.wc-box div:hover:after,
.wc-box div:hover:before {
  border-color: #333333;
}

.wc-box .close:hover:after,
.wc-box .close:hover:before {
  border-color: #FFFFFF;
}

[data-tooltip] {
  position: relative;
  /* z-index: 2; */
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  top: 100%;
  right: 6px;
  margin-bottom: 5px;
  margin-left: -80px;
  width: var(--side__tooltip--width);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  z-index: 2;
  font-family: var(--font__family--avenir);
  font-weight: var(--font__style--medium);
  font-size: 16px;
  padding: 14.22px 16px 15px 14px;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  top: 77%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-bottom: 8px solid #000;
  /* border-top: 5px solid hsla(0, 0%, 20%, 0.9); */
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}